// .agents-container
// .agents-card
.agents-img {
  width: 75vw;
}
// .agents-name
// .agents-bio
.agents-featured-pkg {
  span {
    margin-right: 10px;
  }
  img {
    width: 150px;
  }
}
// .agents-links
