.agent-container {
  display: flex;
  justify-content: space-around;
}

.agent-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  img {
    width: 40px;
    border-radius: 50px;
  }
}
