.pkgs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: 10px 0;

  .see-pkgs {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(100, 100, 100);
  }
}
.pkgs-container {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  overflow: scroll;
  padding: 20px 0;
}

.pkg-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;

  .pkg-img {
    width: 30vh;
    max-height: 20vh;
    object-fit: cover;
    border-radius: 30px;
  }

  .bookmark {
    border-radius: 50%;
    text-align: center;
    width: 40px;
    padding: 7px;
    position: relative;
    top: -20px;
    left: 180px;
    background: #fd5a5a;
    color: white;
  }

  .pkg-name {
    position: relative;
    top: -15px;
    color: black;
  }

  a {
    color: grey;
  }
}

.pkg-details {
  text-decoration: none;
  font-size: 14px;
  color: grey;
  display: flex;
  justify-content: flex-start;

  .pkg-location {
    padding-right: 20px;
  }

  .map-icon {
    background: #f9c3c3;
    color: #fd5a5a;
    border-radius: 50%;
    margin: 0 5px 0 0;
  }

  .fp-cal-icon {
    color: rgb(25, 185, 193);
    border-radius: 30%;
    margin: 0 5px 0 0;
  }
}
