.search-container {
  background-color: white;
  width: 65vw;
  margin: 20px;

  form {
    display: flex;
    flex-direction: row;
    margin: 0;

    input {
      margin: 0;
    }

    button {
      font-size: 1.3rem;
      text-align: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 13px;
      background-color: rgb(47, 60, 93);
      color: white;
      border: none;
    }

    #search {
      margin-left: 10px;
      padding-left: 5px;
      width: 90%;
      border: none;
      background-color: white;
    }
  }
}

::placeholder {
  font-size: 0.8em;
  font-weight: 700;
  color: rgba(47, 60, 93, 0.695);
  text-align: left;
}
