a {
  text-decoration: none;
}

.featured-agents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;

  .featured-see-agents {
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(100, 100, 100);
  }
}

.featured-card-container {
  display: flex;
  justify-content: space-between;
}

.featured-agent-container {
  padding: 15px;
  box-shadow: 1px 1px 10px 4px rgba(128, 128, 128, 0.342);
  border-radius: 15px;
  width: 70vw;
  height: 20vh;
  margin: 0 10px;
  background-color: whitesmoke;
}

.featured-agent-img {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}

.featured-agent-card {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.featured-card-info {
  padding-top: 30px;
  text-align: center;
  width: 9rem;
  font-size: 1.5rem;
  color: black;
}

.featured-more-info {
  color: rgb(0, 0, 158);
  font-weight: 700;
}
